## Copyright (C) 2012 - 2018 ENCRYPTED SUPPORT LP <adrelanos@riseup.net>
## See the file COPYING for copying conditions.

Source: anon-apt-sources-list
Section: misc
Priority: optional
Maintainer: Patrick Schleizer <adrelanos@riseup.net>
Build-Depends: debhelper (>= 9), genmkfile
Homepage: https://github.com/Whonix/anon-apt-sources-list
Vcs-Browser: https://github.com/Whonix/anon-apt-sources-list
Vcs-Git: https://github.com/Whonix/anon-apt-sources-list.git
Standards-Version: 3.9.8

Package: anon-apt-sources-list
Architecture: all
Depends: ${misc:Depends}
Description: /etc/apt/sources.list.d/debian.list for Anonymity Linux Distributions
 A question of distribution maintenance strategies. The more standard
 way would indeed be populating /etc/apt/sources.list at install or build time
 and leaving /etc/apt/sources.list.d alone. The idea of managing
 /etc/apt/sources.list.d/debian.list for the user is, the anonymity
 distribution maintainers can decide when it is a better "change stable to
 oldstable", "keep wheezy as long as needed to work out [eventual!] issues
 that would break during upgrade to jessie" and such.
