## Copyright (C) 2012 - 2023 ENCRYPTED SUPPORT LP <adrelanos@kicksecure.com>
## See the file COPYING for copying conditions.

Source: anon-apt-sources-list
Section: misc
Priority: optional
Maintainer: Patrick Schleizer <adrelanos@kicksecure.com>
Build-Depends: debhelper (>= 13),
               debhelper-compat (= 13)
Homepage: https://github.com/Kicksecure/anon-apt-sources-list
Vcs-Browser: https://github.com/Kicksecure/anon-apt-sources-list
Vcs-Git: https://github.com/Kicksecure/anon-apt-sources-list.git
Standards-Version: 4.6.2
Rules-Requires-Root: no

Package: anon-apt-sources-list
Architecture: all
Depends: fasttrack-archive-keyring,
         ${misc:Depends}
Description: Kicksecure APT and Flatpak Repository Configuration
 Configuring APT and Flatpak sources:
 - Includes Debian APT repositories (main, updates, backports, fasttrack, 
   security)
 - Incorporates Debian APT components (main, contrib, non-free,
   non-free-firmware)
 - Integrates the Flathub repository (verified and floss subsets only)
 .
 Flatpak:
 - Official Flathub repository only.
 - Uses subset verified_floss, which means only verified applications and
   freedom software can be installed by default.
 .
 Provides configuration files:
 - /etc/apt/sources.list.d/debian.list for APT sources
 - /etc/flatpak/remotes.d/flathub.flatpakrepo for Flatpak sources
 .
 A Discussion on Distribution Maintenance Strategies:
 .
 The more standard
 way would indeed be populating /etc/apt/sources.list at install or build time
 and leaving /etc/apt/sources.list.d alone.
 .
 The idea of managing
 /etc/apt/sources.list.d/debian.list for the user is, the security-focused
 distribution maintainers can decide when it is a better "change stable to
 oldstable", "keep wheezy as long as needed to work out [eventual!] issues
 that would break during upgrade to jessie" and such.
